global:
  scrape_interval: 15s
  evaluation_interval: 30s

scrape_configs:
  # Prometheus
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  # Node exporter 
  - job_name: "node_exporter"
    static_configs:
      - targets: ["node-exporter:9100"]